.content{
    background-color: #272727f6;
    border: 1px solid brown;
    padding: 15px;
    margin: 5px;
    color:white;
}

.container{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
.center_wrapper{}
.center_info{
    padding: 5px;

    border: 1px solid #813d3d;
    background-color:black;
}