.my_posts{
    padding: 10px;
}

.container_textarea{
    margin: 10px 0 10px 0;
}

button{
    display: block;
    margin-bottom: 10px;
}

h3{
    font-size: 24px;
    color:red;
    padding-bottom: 10px;
}