.content{
    background-color: #272727f6;
    border: 1px solid brown;
    padding: 5px;
    margin: 5px;
    color:white;
}

.container{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog a{
    color: white;
}

.dialogs{
    padding: 10px;
}

.dialogs .active{
    color: gold;
}

.messages{
    padding: 10px;
}
